<footer>
  <!-- <h5 class="text-center"> &copy; 2016, Hyde | < > with &#9829; by Vignesh <h5> -->
      <p class="text-center"> &copy; Hyde Clothing 2015 - 2016. All Rights Reserved <br> < > <span class="pink fa fa-heart"></span> in Dublin </p>
</footer>
