<% layout('boilerplate') -%>


<h1> Shop Smart, Save Big!</h1>

<p> Start of a magical experience, Stay tuned!<p>

<p>Signup to start purchasing</p>
<h3>Start your search here</h3>

<p> Our prices are the best in Ireland!</h3>


  <p>These will appear in your cart as you make purchases</p>
  <h3>Look for cool clothes</h3>

  <h3>Build a fashionable cart</h3>
  <p>The more cool clothes you buy together, the more you save :)</p>
