<% layout('layout') -%>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" id="navbar-gap">
    <div class="container">
      <h1> Shop Smart, Save Big!</h1>
      <p> Start of a magical experience, Stay tuned!<p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Signup &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h3>Start your search here</h3>
        <p>Signup to start purchasing</p>
      </div>
      <div class="col-md-4">
        <h3>Look for cool clothes!</h3>
        <p>These will appear in your cart as you make purchases</p>
     </div>
      <div class="col-md-4">
        <h3>Build a fashionable cart</h3>
        <p>The more cool clothes you buy together, the more you save :)</p>
      </div>
    </div>
